@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500&display=swap');
body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.home-page{
    background-image: url(image/home-bg.jpg);
    background-size: cover;
    min-height: 100vh;
}

.logo img{
    height: 60px;
    width: 200px;
    margin-left: 100px;
    margin-top: 10px;
}
#navbar{
    margin-top: 0;
}

#navbar .container{
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-width: 98%;
}

#navbar .container ul{
    display: flex;
    list-style: none;
    padding: 0;
}
#navbar .container ul li{
    display: inline-block;
    margin-left: 35px;
}
#navbar .container ul li a{
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    margin-left: 1rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 0.25rem 0;
    transition: border 0.5s;
}

#navbar .container ul li a:hover,
#navbar .container ul li a.active{
    border-top: 2px solid rgb(160, 7, 7);
    border-bottom: 2px solid rgb(160, 7, 7);
}

/*showcase*/
#showcase .container{
    margin-right: 150px;
    text-align: right;
}

#showcase .container .showcase-content{
    margin-top: 15rem;
}

#showcase .container .showcase-content h1{
    font-size: 5.5rem;
    font-weight: 400;
    color: #fff;
    font-family: 'Fondamento', cursive;
}

#showcase .container .showcase-content h2{
    font-size:1.5rem;
    font-family: 'Fondamento', cursive;
    font-weight: 400;
    color: rgb(212, 209, 209);
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    word-spacing: 5px;
}

.icons a{
    color: #fff;
    text-decoration: none;
    padding: 1.2rem;
}

.icons a:hover{
    color: rgb(160, 7, 7);
    transition: all 0.5s ease-out;
}
